.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 1px solid #6b728092;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.head {
    font-family: "Space Grotesk";
    font-size: clamp(20px, 4vw, 30px);
    font-weight: 700;
    color: #1E2761;
}

/* -----------------------  MEDIA QUERRIES  ----------------------- */

@media (max-width: 768px) {
    .header-container {
        padding: 12px 24px;
    }

    .head {
        font-size: 24px;
    }

    .header-blue-button {
        padding: 10px 18px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header-container {
        padding: 12px 16px;
    }

    .head {
        font-size: 20px;
    }

    .header-blue-button {
        padding: 8px 14px;
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    .header-container {
        gap: 12px;
        padding: 12px;
    }

    .header-blue-button {
        display: flex;
        justify-content: center;
    }
}

/* -----------------------  ANIMATION  ----------------------- */

.head {
  font-family: "Space Grotesk";
  font-weight: 700;
  background: linear-gradient(
    90deg,
    #1e2761,
    #2563eb,
    #1e2761
  );
  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 4s linear infinite;
}

@keyframes gradientMove {
  to {
    background-position: 200% center;
  }
}